
*/*{
    font-size: 50px;
}
.==> class
#==> id
li==>  etiqueta*/


*{
    margin: 100;
    padding: 100;
}
#nav-li-home {
    max-width: max-content;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:gainsboro ;
}

