.nav-li{
    top: 0;
    position: sticky;
    z-index: 2;
    background-color: #eaf1f6;
    margin: 0rem;
    padding: 0rem;
}
.nav-li1{
        height: 10rem;
        justify-content: space-between;
        align-items:center;
        max-width: 10rem;
        display: contents;
        font-size: 2.5rem;
}

.talkit{
        max-height: 10rem;
        max-width: 10rem;
        align-items: center;
        
}
.nav-bar1 {
    color: #306;
    font-size: 1rem;
    margin: 0 1.75rem;
    height: 100%;
    width: fit-content;
    font-family: Montserrat,sans-serif;
    text-rendering: optimizeSpeed;
}
.logIn-v2{
        border-radius: 3.7rem;
        height: 3.7rem;
        font-size: 0.8rem;
        border: none;
        color: #306;
        font-weight: 500;
        position: relative;
        border: .2rem solid transparent;
        background: linear-gradient(#eaf1f6,#eaf1f6) padding-box,linear-gradient(90deg,#eca586 1%,#ed197e 50%,#7e4098 100%) border-box;
        padding: 0 2rem;
        align-items: center;
        justify-content: center;
        max-width: 140px;
    }

  .logUp-v2{
        border-radius: 3.7rem;
        height: 3.7rem;
        font-size: 0.8rem;
        border: none;
        color: #fff;
        font-weight: 500;
        position: relative;
        background: #330066;
        border: .2rem solid transparent;
        background: #41B312;
        margin: 0rem;
        padding: 1rem;
        display: flexbox;
        align-items: center;
        justify-content: center;
        max-width: 116px;
    }
    #mensaje1{
            align-items: center;
            display: flex;
    }
    .mensaje3{
        font-size: 3rem;
        font-weight: 700;
        color: #306;
        line-height: normal;
        text-align: center;
    }
  