.nav-li{
    background-color: #eaf1f6;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    height: auto;
    width: auto;
}

.container{
    max-width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container1{
    color: #306;
    margin: .7rem;
    height: auto;
    max-width:max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat,sans-serif;
    font-size: small;
    font-weight: bolder;
    text-decoration: none;
    }
/*logo caracters = talkit*/

.talkit{
        height: auto;
        width: auto;
        display: flex;
        align-items: center;         
}
/*botón Ingresar*/
.logIn-v2{
        border-radius: 3.7rem;
        height:2rem;
        color: #306;
        border: .2rem solid transparent;
        background: linear-gradient(#eaf1f6,#eaf1f6) padding-box,linear-gradient(90deg,#eca586 1%,#ed197e 50%,#7e4098 100%) border-box;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        margin: 0rem;
        text-decoration: none;
    }
/*botón REGISTRATE*/
  .logUp-v2{
    border-radius: 3.7rem;
    height: 2rem;
    border: none;
    color: #fff;
    background: #330066;
    border: -4.8rem solid transparent;
    background: #41B312;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 140px;
    margin: 0rem;
    font-size: auto;
    max-width: auto;
    text-decoration: none;
    }

    /*container mt-4*/
    .carousel-inner p {
       font-size: 3rem;
       position: absolute;
       color: white;
       top: 80%;
       left:100%;
    }

    /*Mensaje: ¡Tu oportunidad de sentirte bien!*/
    .mensaje1{
        font-size: 3rem;
        font-weight: 700;
        color: #306;
        line-height: normal;
        text-align: center;
    }
  