/*Barra de inicio*/
.container-fluid{
    background-color: #eaf1f6;
}
/*Barra de inicio - Logo de Talkit*/
.talkit-logo{
    display: flex;
    align-items: center;
    justify-content: end;
}
/*Barra de inicio - HOME hasta REGISTRATE*/
.col-3{
        display: flex;
        align-items: center;
        justify-content: end;
}
.col-9{
    display: flex;
    align-items:flex-end;
    align-content: space-between;
    justify-content: center;
}

.container1{
    color: #306;
    margin: 1.2rem;
    font-family: Montserrat,sans-serif;
    font-size: small;
    font-weight: bolder;
    text-decoration: none;
    }
/*botón Ingresar*/
.logIn-v2{
        border-radius: 3.7rem;
        height:2rem;
        color: #306;
        border: .2rem solid transparent;
        background: linear-gradient(#eaf1f6,#eaf1f6) padding-box,linear-gradient(90deg,#eca586 1%,#ed197e 50%,#7e4098 100%) border-box;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        margin: 1.3rem;
        text-decoration: none;
    }
/*botón REGISTRATE*/
  .logUp-v2{
    border-radius: 3.7rem;
    height: 2rem;
    border: none;
    color: #fff;
    background: #330066;
    border: -4.8rem solid transparent;
    background: #41B312;
    margin: 1.3rem;
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 140px;
    
    font-size: auto;
    max-width: auto;
    text-decoration: none;
    }

    /*Frases del carrousel*/
    .carousel-inner p{
       font-weight: bold;
       font-size: 2.2rem;
       position: absolute;
       color: white;
       font-family: Montserrat, sans-serif;
       top: 20%;
       left: 9%;
    }
    /*Tu bienestar cuando y donde lo necesites*/
    .carousel-inner p1{
        font-weight: bold;
        font-size: 1.2rem;
        position: absolute;
        color: rgb(74, 19, 146);
        font-family: Montserrat, sans-serif;
        top: 45%;
        left: 9%;
     }
     /*VER PLANES Y CONOCÉ MÁS*/
     .carousel-inner p3{
        position: absolute;
        top: 65%;
        left: 20.5%;
        border: .1rem solid white;
        border-radius: 3.7rem;
        height:2rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
     }
    /*¡PROBALA AHORA!*/
     .carousel-inner p4{
        position: absolute;
        top: 65%;
        left: 9%;
        border: .1rem solid white;
        border-radius: 3.7rem;
        height:2rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
     }
        /*REGISTRATE!*/
     .carousel-inner a{
        position: absolute;
        top: 65%;
        left: 9%;
        border-radius: 3.7rem;
        height: 2rem;
        border: none;
        color: #fff;
        background: #330066;
        border: -4.8rem solid transparent;
        background: #41B312;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 140px;
        text-decoration: none;
     }
  .carousel-inner p2{
      color: white;
      font-size: 1rem;
      position: absolute;
      font-family: Montserrat, sans-serif;
      top: 52.5%;
      left: 9%;
  }

  /*Barra inferior al carrousel*/
.navbar{
    font-family: Montserrat, sans-serif;
    background-color: #330066;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.text-proba-ahora{
    border: .1rem solid white;
    border-radius: 3.7rem;
    height:2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
margin: 0.3rem;
}

/*Registrate y tomá tus sesiones de terapia de manera 100% online...dar el primer paso?<br> físico y mental que necesitás.*/
.carousel-inner p5{
    color: white;
    font-size: 1rem;
    position: absolute;
    font-family: Montserrat, sans-serif;
    top: 42.5%;
    left: 9%;
}
    /*Mensaje: ¡Tu oportunidad de sentirte bien!*/
    .mensaje1{
        margin: 3rem;
        font-size: 3rem;
        font-weight: 700;
        color: #306;
        line-height: normal;
        text-align: center;
    }
    .imgvideo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*--DESCUBRÍ TODAS LAS HERRAMIENTAS DE NUESTRA PLATAFORMA-->*/
     /*--Frase introductoria-->*/
    .herramientas-plataforma{
        margin: 3rem;
        font-size: 3rem;
        font-weight: 700;
        color: #306;
        line-height: normal;
        text-align: center;
    }

    /*Formato de las cards*/
    .card{
        border-collapse: collapse;
        border-style: none;
    }

    /*--Titulos de las cards--*/
    .title-card{
        color:#306;
        font-family: Montserrat, sans-serif;
        font-size:medium;
    }

    /*texto de las cards*/
    .text-cards{
        text-align: justify;
    }

    /*Botón Ver más*/
    .buttom-ver-mas{
        font-size:small;
        color: #ed197e;
        text-decoration: none;
        text-decoration: bolder;
    }
